.form{
    margin-top: 20px;
}
.nameblock{
    margin-top: 25px;
}
.bttn{
   background-color:  #2f1cd0;
   border-color: #2f1cd0;
   display: inline-block;
    font-weight: 400;
    border-radius: 0.25rem;
    color: aliceblue;
}
.container , h1{
 margin-top: 30px;
padding-bottom: 25px;
}
.table ,thead ,th,td {
    border-bottom: 1px solid #ced4da;
 }
 th{
     column-count: 2;
     padding-top: 25px;
 }
 .butt{
    margin: 10px;
 }
 .edbtn{
     margin: 1px;
 }